#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.clicker {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.clicker__count {
  margin: 0;
  font-size: 1.25rem;
}

.clicker__button {
  min-width: 12rem;
}
